html, .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6{
    font-family: "NSimSun" !important;
}
.navbar{
    position: relative;
    top: -30px;
    left: -10px;
    font-weight: bold;
    font-size: large;
}
.navbar-item-school:hover{
    background-color: hsl(206, 70%, 96%) !important;
    color: hsl(204, 86%, 53%) !important;
}
.navbar-item-study:hover{
    background-color: hsl(219, 70%, 96%) !important;
    color: hsl(217, 71%, 53%) !important;
}
.navbar-item-file:hover{
    background-color: hsl(40, 100%, 96%) !important;
    color: hsl(40, 100%, 67%) !important;
}
.navbar-item-students:hover{
    background-color: hsl(9, 90.5%, 95.9%) !important;
    color: hsl(7, 93.0%, 39.0%) !important;
}
.navbar-item-others:hover{
    background-color: hsl(171, 100%, 96%) !important;
    color: hsl(171, 100%, 41%) !important;
}
.has-text-school{
    color: hsl(204, 86%, 53%);
}
.has-text-study{
    color: hsl(217, 71%, 53%);
}
.has-text-file{
    color: hsl(40, 100%, 67%);
}
.has-text-students{
    color: hsl(7, 93.0%, 39.0%);
}
.has-text-others{
    color: hsl(171, 100%, 41%);
}
.icon{
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.navbar-item{
    border-radius: 10px;
    margin-right: 5px;
}
.has-dropdown{
    margin-left: 15px;
}
.navbar-link{
    border-radius: 10px;
}
.navbar-dropdown{
    margin-top: 5px;
}