.bd-hr {
    background-color: #A0A0A0;
    border-radius: 99px;
    height: .15rem;
    width: 4em;
    margin: 1em auto 1.5em 0;
}

.copy-icon {
    cursor: pointer; /* 鼠标悬停时显示手型光标 */
}
.control.has-icons-right .icon {
    pointer-events: auto; /* 确保图标可交互 */
}
