{{ define "main" }}
    {{ $script := resources.Get "ts/tools/color_converter.ts" | js.Build | resources.Minify | resources.Fingerprint }}
    <script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>
    <main>
        <p class="title is-1 is-spaced">Color Converter</p>
        <hr class="bd-hr">
        <div class="field">
            <label class="label">Regex</label>
            <div class="control">
                <textarea class="textarea" placeholder="The regular expression you want to test"></textarea>
            </div>
        </div>
        <div class="field">
            <label class="label">Text</label>
            <div class="control">
                <textarea class="textarea" placeholder="Text used for testing"></textarea>
            </div>
        </div>
    </main>
{{ end }}